html,
body {
    background-color: #121212;
    height: 100%;
    margin: 0;
}

.container-fluid, .row {
    height: 100%;
}

.col-10 {
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    padding-bottom: 1rem;
}

.mysidebar{
    height: 100vh;
    background-color: #282828;
}

.icon-img {
    width: 18px; /* or your desired size */
    height: 18px;
    object-fit: contain;
}